# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

bin/
test/

CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
testgc
gc
Testing
CTestTestfile.cmake